@page "/addorupdate"
@inject NavigationManager NavigationManager


<MudCard Elevation="25">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Ajouter un vol</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudSelect T="Compagnie" Label="Compagnie" @bind-Value="@customer.Compagnie" Required="true">
            @foreach (var selectItem in StaticsElements.CmpsBase)
            {
                <MudSelectItem Value="@selectItem">@selectItem.Name</MudSelectItem>
            }
        </MudSelect>

        <MudTextField @bind-Value="customer.VilleDepart" Label="Ville de départe" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
        <MudTextField @bind-Value="customer.VilleArrivee" Label="Ville d'arrivée" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
        <MudTextField @bind-Value="customer.JourDeVol" Label="Jours de Vols" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>

        <MudDatePicker Label="Dernier jous de confirmation" @bind-Date="customer.DateFin"/>

        <br />

        <div class="align-content-center btn-group">

            <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="@(() => NavigationManager.NavigateTo("index"))">Annuler</MudButton>
            <MudButton Class="ml-1" Variant="Variant.Filled" Color="Color.Success" @onclick="@(() => NavigationManager.NavigateTo("index"))">Valider</MudButton>
        </div>

    </MudCardContent>
</MudCard>



@code {
    private VolConfirmeViewModel customer = new VolConfirmeViewModel();

    protected override void OnInitialized()
    {
        customer.DateFin = DateTime.Now;
        base.OnInitialized();
    }

}
